/* Reset básico e variáveis */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --cor-tema: #3B3F8C;
    --cor-secundaria: #D9A404;
    --cor-fundo: #262626;
    --cor-branco: #D0D6D9;
    --cor-preto: #000000;
    --cor-vermelho: #F22222;

    --preto: #0D0D0D;
    --cinza: #404040;
    --branco: #F2F2F2;
    --branco-light: #ccc;;
    --azul: #1d3e55;
    --verde: #03A64A;
    --vermelho: #F26D6D;
}

.content {
    width: 80%;
    margin: auto;
}

.titulo {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2c3e50;
    text-align: center;
}

.botao-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.botao-criar {
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--cor-tema);
    color: var(--branco);
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 20px;
    transition: 0.3s;
}

.botao-criar:hover {
    background-color: var(--azul);
}

.alerta-sucesso {
    padding: 10px;
    background: #d4edda;
    color: #155724;
    border-radius: 6px;
    margin-bottom: 15px;
}

.index-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.index-table th,
.index-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.index-table th {
    background-color: var(--cor-fundo);
    color: var(--branco);
}

.btn-editar {
    padding: 6px 12px;
    background-color: var(--cor-tema);
    color: var(--branco);
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-editar:hover {
    background-color: var(--azul);
}

.btn-deletar {
    padding: 6px 12px;
    background-color: var(--cor-vermelho);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-deletar:hover {
    background-color: #c0392b;
}

.paginacao {
    margin-top: 20px;
    text-align: center;
}

.paginacao nav {
    display: inline-block;
}

/* Paginação ---------------------------------------------------------------------------------------------------*/
.paginacao nav {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.paginacao .pagination {
    display: flex;
    list-style: none;
    gap: 8px;
}

.paginacao .pagination li {
    display: inline-block;
}

.paginacao .pagination li a,
.paginacao .pagination li span {
    padding: 8px 14px;
    border: 1px solid var(--cor-tema);
    border-radius: 6px;
    text-decoration: none;
    color: var(--cor-tema);
    transition: 0.3s;
    width: 20px;
}

.paginacao .pagination li a:hover {
    background-color: var(--cor-tema);
    color: var(--branco);
}

.paginacao .pagination .active span {
    background-color: var(--cor-tema);
    color: var(--branco);
    border-color: var(--cor-tema);
}

/* Create ---------------------------------------------------------------------------------------------------*/
.container-create {
    text-align: center;
    margin: 40px auto 40px auto;
    background: var(--branco);
    padding: 2rem;
    border-radius: 12px;
    width: 100%;
    max-width: 700px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

.container-titulo h1 {
    margin: 1rem  0;
    text-align: center;
}

.container-create-conteudo {
    width: 100%;
    max-width: 600px;
    margin: 1rem;
}

.textfield {
    position: relative;
    float: left;
    margin: 1rem auto 1rem 1.75rem;
    text-align: center;
    width: 16rem;
}

.textfield input {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--branco-light);
    border-radius: 6px;
}

.textfield label {
    position: absolute;
    top: -10px;
    left: 12px;
    border-radius: 4px;
    background: var(--branco);
    padding: 0 4px;
    font-size: 14px;
    color: var(--preto);
}

.btn-salvar {
    width: 100%;
    padding: 12px;
    background-color: var(--cor-tema);
    color: var(--branco);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-salvar:hover {
    background-color: var(--azul);
}

fieldset {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

fieldset legend {
    font-weight: bold;
    padding: 0 5px;
}

fieldset label {
    margin-right: 15px;
}

.textfield input,
.textfield select,
.textfield textarea {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

.textfield input:focus,
.textfield select:focus,
.textfield textarea:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74,144,226,0.5);
}

.textfield-file input[type=file] {
    display: block;
    padding: 10px;
    outline: none;
    border: 1px solid var(--branco-light);
    border-radius: 8px;
    background: #ffffff;
    color: var(--preto);
    cursor: pointer;
    margin: auto;
    max-width: 500px;
}

fieldset {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

fieldset legend {
    font-weight: bold;
    padding: 0 5px;
}

fieldset label {
    margin-right: 15px;
}

.fieldCheckbox {
    max-width: 36rem;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin: 20px auto 40px auto;
    padding: 0.5rem;
    border: 1px solid var(--branco-light);
    border-radius: 8px;
    background-color: #fff;
}

.checkboxContainer{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 16px;
    margin-top: 0.75rem;
    color: var(--cor-preto);
}

.checkboxInput {
    appearance: none;
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.4rem;
    border: 2px solid var(--preto);
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    transition: 0.2s all;
}

.checkboxInput:checked {
  background-color: var(--azul);
  border-color: var(--azul);
}

.checkboxInput:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 4px;
    height: 8px;
    border: solid var(--branco);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkboxContainer label {
    cursor: pointer;
    user-select: none;
}