:root {
    --cor-tema: #3B3F8C;
    --cor-tema-apagado: #4449a1;
    --cor-fundo: #262626;
    --cor-branco: #D0D6D9;
    --cor-preto: #000000;
    --cor-vermelho: #F22222;

    --preto: #0D0D0D;
    --cinza: #404040;
    --branco: #F2F2F2;
    --branco-light: #ccc;
    --azul: #1d3e55;
    --verde: #03A64A;
    --cor-verde: #1dc967;
    --vermelho: #F26D6D;
    --roxo: #4B1C8C;
    --laranja: #D92B04;
    --amarelo: #F2B705;
}

/* Container principal */
.livros-root {
    background-color: var(--branco);
    color: var(--preto);
    padding: 40px 60px;
    gap: 30px;
}

.livros-root .livros-inner {
    max-width: 1200px;
    margin: 0 auto;
}


.livros-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

/* título */
.title {
    display: flex;
    color: var(--preto);
}

.title span {
    font-size: 3rem;
}

.btn-add {
    background: var(--cor-fundo);
    border: none;
    padding: .6rem 1rem;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn-add:hover {
    background: var(--cor-tema);
}

.livros-table {
    width: 100%;
    border-collapse: collapse;
    background: #1b1b1b;
    border-radius: 10px;
    overflow: hidden;
}

.livros-table th,
.livros-table td {
    padding: .8rem;
    text-align: center;
}

.livros-table th {
    background: var(--cor-fundo);
    color: var(--branco);
}

.livros-table tr {
    background: var(--branco);
}

.livros-table tr:nth-child(even) {
    background: var(--cor-branco);
}

.capa-mini {
    width: 50px;
    height: 70px;
    object-fit: cover;
    border-radius: 4px;
}

.categoria-tag {
    display: inline-block;
    background: var(--branco-light);
    color: var(--preto);
    padding: .2rem .5rem;
    border-radius: 6px;
    margin: 2px;
    font-size: .8rem;
}

.acoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
}

.btn-edit,
.btn-del {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}

.btn-edit {
    color: var(--preto);
    transition: .3s;
}

.btn-edit:hover {
    color: var(--cor-tema);
}

.btn-del {
    color: var(--cor-vermelho);
    transition: .3s;
}

.btn-del:hover {
    color: var(--vermelho);
}

.pagination {
    margin-top: 1rem;
    text-align: center;
}

/* ================= PAGINAÇÃO ================= */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
    flex-wrap: wrap;
}

.pagination ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 5px;
}

.pagination li {
    display: inline-block;
}

.pagination li a,
.pagination li span {
    display: block;
    padding: 8px 14px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--branco);
    background-color: var(--cinza);
    border: 1px solid var(--cor-tema-apagado);
    transition: all 0.25s ease;
    font-weight: 500;
}

.pagination li a:hover {
    background-color: var(--cor-tema);
    border-color: var(--cor-tema);
    color: var(--branco);
}

.pagination li span {
    background-color: var(--cor-tema);
    border-color: var(--cor-tema);
    font-weight: 700;
}

/* Desativado */
.pagination li.disabled span {
    opacity: 0.5;
    cursor: not-allowed;
}

/* --- Modal --- */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.hidden {
    display: none;
}

.modal-content {
    background: var(--branco);
    color: var(--preto);
    padding: 2rem;
    border-radius: 10px;
    width: 800px;
    /* maior largura */
    max-height: 90vh;
    overflow-y: auto;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* duas colunas */
    gap: 1.5rem;
}

.form-grid input,
.form-grid textarea,
.form-grid select {
    background: var(--branco-light);
    border: 1px solid var(--cor-tema);
    color: var(--preto);
    padding: .5rem;
    border-radius: 6px;
    width: 100%;
}

.categorias-checklist input[type="checkbox"] {
    width: 15px;
    /* largura */
    height: 15px;
    /* altura */
    cursor: pointer;
    accent-color: var(--cor-tema);
    /* muda a cor do check */
}

textarea {
    resize: vertical;
}

.categorias-checklist {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid var(--cor-tema);
    padding: 0.5rem;
    border-radius: 6px;
    background: var(--branco-light);
}

.categorias-checklist label {
    font-weight: 500;
    color: var(--preto);
    display: flex;
    align-items: left;
    font-size: 15px;
    gap: 0.5rem;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: .8rem;
    margin-top: 1rem;
}

.btn-cancel {
    background: var(--cor-vermelho);
    color: white;
    border: none;
    padding: .5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.btn-cancel:hover {
    background: var(--cor-vermelho);
}

.btn-save {
    background: var(--cor-fundo);
    color: white;
    border: none;
    padding: .5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.btn-save:hover {
    background: var(--cor-tema);
}