:root {
    --cor-tema: #3B3F8C;
    --cor-secundaria: #D9A404;
    --cor-fundo: #262626;
    --cor-branco: #D0D6D9;
    --cor-preto: #000000;
    --cor-vermelho: #F22222;

    --preto: #0D0D0D;
    --cinza: #404040;
    --branco: #F2F2F2;
    --branco-light: #ccc;
    --azul: #1d3e55;
    --verde: #03A64A;
    --vermelho: #F26D6D;
}
/*-------------------------------Footer---------------------------------------------*/
footer {
    width: 100%;
    color: var(--cor-font-link);
    border-top: 2px solid var(--cor-secundaria);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--cor-pricipal);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--cor-font-link);
    border-radius: 50px;
    transition: all 0.7s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background: #4267b3;
}

#whatsapp {
    background: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--cor-font-link);
}

.footer-list .footer-link:hover {
    color: var(--cor-terciaria);
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--cor-font-link);
}

#input_group_footer input {
    padding: 0.75rem;
    width: 100%;
    color: var(--cor-font-link-apagado);
    border: 1px solid #ccc;
}

#input_group_footer button {
    background-color: var(--cor-secundaria);
    border: none;
    color: var(--cor-terciaria);
    padding: 0 1.25rem;
    font-size: 1.125rem;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: all 0.4s;
    width: auto;
}

#input_group_footer button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--cor-font-link);
    color: var(--cor-pricipal);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}