/* Reset básico e variáveis */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --cor-tema: #3B3F8C;
    --cor-secundaria: #D9A404;
    --cor-fundo: #262626;
    --cor-branco: #D0D6D9;
    --cor-preto: #000000;
    --cor-vermelho: #F22222;

    --preto: #0D0D0D;
    --cinza: #404040;
    --branco: #F2F2F2;
    --branco-light: #ccc;;
    --azul: #1d3e55;
    --verde: #03A64A;
    --vermelho: #F26D6D;
}

.content {
    width: 80%;
    margin: auto;
}

.titulo {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2c3e50;
    text-align: center;
}

.botao-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.botao-criar {
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--cor-tema);
    color: var(--branco);
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 20px;
    transition: 0.3s;
}

.botao-criar:hover {
    background-color: var(--azul);
}

.alerta-sucesso {
    padding: 10px;
    background: #d4edda;
    color: #155724;
    border-radius: 6px;
    margin-bottom: 15px;
}

.index-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.index-table th,
.index-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.index-table th {
    background-color: var(--cor-fundo);
    color: var(--branco);
}

.btn-editar {
    padding: 6px 12px;
    background-color: var(--cor-tema);
    color: var(--branco);
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-editar:hover {
    background-color: var(--azul);
}

.btn-deletar {
    padding: 6px 12px;
    background-color: var(--cor-vermelho);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-deletar:hover {
    background-color: #c0392b;
}

.paginacao {
    margin-top: 20px;
    text-align: center;
}

.paginacao nav {
    display: inline-block;
}

/* Paginação ---------------------------------------------------------------------------------------------------*/
.paginacao nav {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.paginacao .pagination {
    display: flex;
    list-style: none;
    gap: 8px;
}

.paginacao .pagination li {
    display: inline-block;
}

.paginacao .pagination li a,
.paginacao .pagination li span {
    padding: 8px 14px;
    border: 1px solid var(--cor-tema);
    border-radius: 6px;
    text-decoration: none;
    color: var(--cor-tema);
    transition: 0.3s;
    width: 20px;
}

.paginacao .pagination li a:hover {
    background-color: var(--cor-tema);
    color: var(--branco);
}

.paginacao .pagination .active span {
    background-color: var(--cor-tema);
    color: var(--branco);
    border-color: var(--cor-tema);
}




















/* Create ---------------------------------------------------------------------------------------------------*/
.container-create {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 40px;
    margin: auto;
    padding: 0.5rem;
    background-color: var(--preto);
    border-radius: 10px 10px 0px 0px;
}

.container-create-mapa,
.container-create-conteudo {
    font-family: Helvetica, Verdana, sans-serif;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    box-shadow: 2px 4px 20px rgba(230, 230, 230, 0.76);
    background-color: var(--branco);
    text-align: center;
}

.container-create-mapa{
    padding: 0;
}

.container-create-conteudo {
    padding: 2rem;
    margin: 2rem 0;
}

.info-mapa-contato {
    background-color: var(--branco);
    border-radius: 12px;
    max-width: 400px;
    max-height: 300px;
    margin: auto;
    text-align: center;
    padding: 20px 0;
}

.container-create-mapa h1 {
    background-color: var(--branco);
    border-radius: 12px 12px 0 0;
    height: 60px;
    max-height: 80px;
    max-width: 100%;
    width: 100%;
}

.mapa {
    width: 100%;
    height: 220px;
    margin: auto;
    border: 0;
    object-fit: cover;
    border-radius: 0 0 12px 12px;
}

.container-create-conteudo h1 {
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 700;
}

.textfield {
    position: relative;
    margin: auto;
    padding: 4px;
    margin-bottom: 1rem;
    font-size: 14px;
    font-family: Helvetica, Verdana, sans-serif;
    width: 300px;
    height: 55px;
}

.textfield input {    
    border: 0.5px solid var(--branco-light);
    border-radius: 6px;
    width: 80%;
    max-height: 35px;
    min-height: 35px;
}

.textfield input:focus {
    border: 1px solid var(--preto);
    outline: none;
}

.textfield label {
    position: absolute;
    top: -10px;
    left: 45px;
    padding: 0 4px;

    border-radius: 5px;
    background: var(--branco); opacity: 75%;
    color: var(--cor-preto);
}

.textfield textarea {
    resize: none;
    margin: auto;
    padding: 0;
    max-height: 35px;
    min-height: 35px;
    width: 80%;
    color: var(--cor-preto);
    border: 0.5px solid var(--branco-light);
    border-radius: 6px;
}

.textfield textarea:focus {
    border: 1px solid var(--preto);
    outline: none;
}

.btn-salvar {
    width: 50%;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 1rem;
    background-color: var(--cor-tema);
    color: var(--branco);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-salvar:hover {
    background-color: var(--cor-secundaria);
}


@media (max-width: 764px){
    .container-create{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px;
        gap: 1rem;
    }

    .container-create-mapa,
    .container-create-conteudo {
        width: 90%;
        max-width: 500px;
        padding: 1rem;
    }

    .container-create-mapa .mapa {
        width: 100%;
        border-radius: 12px;
    }

    .container-create-conteudo h1 {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    .container-create-mapa {
        display: none;
    }

    .textfield {
        width: 100%;
        margin: 0 auto 1rem auto;
    }

    .textfield label {
        left: 5px;
    }
    .textfield input {    
        border: 0.5px solid var(--branco-light);
        border-radius: 6px;
        width: 100%;
        max-width: 100%;
        margin: 0.5rem auto;
        padding: 8px 10px;
        height: auto;
        min-height: 40px;
        box-sizing: border-box;
    }

    .textfield input:focus {
        border: 1px solid var(--preto);
        outline: none;
    }

    .textfield textarea {
        resize: vertical;
        margin: auto;
        display: block;
        padding: 0;
        height: auto;
        min-height: 40px;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .btn-salvar {
    width: 70%;
    font-size: 18px;
    padding: 8px;
    }
}