:root {
    --cor-tema: #3B3F8C;
    --cor-tema-apagado: #4449a1;
    --cor-fundo: #262626;
    --cor-branco: #D0D6D9;
    --cor-preto: #000000;
    --cor-vermelho: #F22222;

    --preto: #0D0D0D;
    --cinza-borda: #2f3336;
    --cinza-font: #b3b3b3;
    --branco: #F2F2F2;
    --branco-light: #ccc;
    --azul: #1d3e55;
    --verde: #03A64A;
    --vermelho: #F26D6D;

    --texto-pequeno: .75rem;
    --texto-padrao: 1rem;
    --texto-secundario: 1.4rem;
    --texto-titulo: 2.5rem;
}

/* container da sidebar */
.container-sidebar {
    border-right: 1px solid var(--branco-light);
}

.container-sidebar .content {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 290px;
    height: 100vh;
    padding: 0 1rem 1rem 0;
    background-color: var(--branco);
}

/* logo */
.container-sidebar .logo {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 0 1rem;
}

.container-sidebar .logo img {
    width: 50px;
}

/* container de info do usuário ---------------------------------*/
.container-sidebar .info {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--cinza-borda);
    padding: 1rem;
    border-radius: 15px;
    width: 100%;
    position: relative;
    /* necessário pro dropdown */
    cursor: pointer;
}

/* imagem usuário */
.container-sidebar .info img {
    width: 50px;
    border-radius: 50%;
}

/* textos */
.container-sidebar .info .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0 0 .5rem;
}

.container-sidebar .info .text h5 {
    font-size: 18px;
    font-weight: bold;
    color: var(--cor-preto);
}

.container-sidebar .info .text h4 {
    font-size: 14px;
    color: var(--cor-fundo);
}

.dropdown-checar-perfil {
    position: absolute;
    top: -120%;
    /* aparece pra cima */
    left: 0;
    background: var(--branco);
    border: .1px solid var(--cinza-font);
    border-radius: 15px;
    padding: .75rem 0;
    list-style: none;
    width: 275px;
    box-shadow: 0 .8rem 1rem 0 rgba(0, 0, 0, 0.7);
}

.dropdown-checar-perfil.hidden {
    display: none;
}

.dropdown-checar-perfil li {
    display: flex;
    transition: .3s;
    padding: 1rem;
}


.dropdown-checar-perfil #li-checar-perfil-siedebar-01:hover {
    background-color: var(--cinza-font);
}

.dropdown-checar-perfil #li-checar-perfil-siedebar-02:hover {
    background-color: var(--cinza-font);
}

.dropdown-checar-perfil li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    width: 100%;
}

.dropdown-checar-perfil li form {
    display: flex;
    width: 100%;
}

.dropdown-checar-perfil li form a{
    width: 100%;
}

/* links */
.container-sidebar .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    gap: 1rem;
    width: 100%;
}

/* estilo individual dos links */
.container-sidebar .links .nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem 1rem;
    border-radius: 50px / 100%;
    color: var(--preto);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.container-sidebar .links .nav-link h1{
    font-size: 16px;
}

/* hover e ativo */
.container-sidebar .links .nav-link:hover {
    background-color: var(--branco-light);
    transform: translateX(5px);
}

/* icons */
.container-sidebar .links .nav-link img {
    width: 25px;
}

/* icons */
.container-sidebar .links .nav-link h1 {
    font-size: 20px;
    padding-left: 1.5rem;
    font-weight: 400;
}

/* active * */
.container-sidebar .links .active h1 {
    font-weight: 700;
}

/* Post Button --------------------------------------------------------- */
.container-sidebar .post-button {
    display: flex;
    width: 100%;
    align-items: flex-start;
    padding: 0.8rem 1rem;
    margin: 2rem 0;
}

.container-sidebar .post-button button {
    background-color: var(--cor-fundo);
    color: var(--branco);
    font-size: 18px;
    font-weight: bold;
    padding: .6rem 1.5rem;
    border: none;
    border-radius: 50px / 100%;
    cursor: pointer;
    transition: background-color .2s, transform .1s;
    width: 100%;
}

.container-sidebar .post-button button:hover {
    background-color: var(--cor-tema);
}

/* Parte Admin -----------------------------------------+*/
.admin .content {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0 2rem 0;
    width: 290px;
    height: 100vh;
    padding: 1rem 0rem 1rem 0;
    background-color: var(--cor-fundo);
}

/* Topo Texto --*/
.admin .texto-superior {
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 2rem;
}
.admin .texto-superior h1{
    font-size: 22px;
    text-align: left;
    letter-spacing: 1.5px;
    font-weight: 400;
    color: var(--branco-light);
}

/* Topo Admin --*/
.admin .admin-topo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.admin .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .1rem;
}

.admin .admin-topo h1{
    font-size: 16px;
    color: var(--branco);
}

.admin .admin-topo h2{
    font-size: 14px;
    color: var(--cor-tema);
}

/* links --*/
/* estilo individual dos links */
.admin .links .nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem 2.5rem;
    border-radius: 50px / 100%;
    color: var(--branco);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.admin .links .nav-link h1{
    font-size: 16px;
}

/* hover e ativo */
.admin .links .nav-link:hover {
    transform: translateX(5px);
    background-color: var(--cor-fundo);
    color: var(--cor-tema-apagado);
}

.admin .links .active {
    color: var(--cor-tema);
    transform: translateX(5px);

}